script(type='text/javascript', src='js/lib/jquery-2.0.3.js')
script(type='text/javascript', src='js/scripts.js')
script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&sensor=true')
