!!!5
html
  head
    include includes/head
    include includes/scripts

  body
    include includes/header
    div.row.padding-top
      div.column_5.offset_1.margin-bottom.padding
        h2.margin-bottom Me
        div#my-checkins

      div.column_5.offset_1.margin-bottom.padding
        h2.margin-bottom Friends
        div#friends-checkins
