doctype html
html
  head
    include includes/head
    include includes/scripts

  body
    include includes/header
    div.row.padding-top
      div.column_6.margin-bottom.padding
        h2.margin-bottom.text.underline Me
        div#my-checkins

      div.column_6.margin-bottom.padding
        h2.margin-bottom.text.underline Contacts
        div#friends-checkins
