doctype html
html
  head
    include includes/head
    include includes/scripts

  body
    include includes/header
    div.row.padding-top
      div#contacts
        each user in contacts
          div.column_3.bck.light.padding-top.padding-bottom.margin-bottom(id="#{user.id}")
            h5.align.center.margin-bottom #{user.display_name}
            img.block.margin-auto(src="#{user.photo_urls.large}")
