html, body {
    margin: 0;
    padding: 0;
}

@color-blue: #417cb3;

header {
    position: relative;
    text-align: center;

    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);

    z-index: 1;

    padding: 20px;
    background: url(../../images/logo.png) no-repeat;
    background-position: right top;

    form {
        .column_6 {
            text-align: center;
        }

        input {
            &[type=text] {
                width: 200px;
            }
        }

        .search-button {
            margin-left: 20px;
        }
    }
}

.friends {
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;

    h2 {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .friend {
        margin-bottom: 10px;
        margin-right: 10px;

        cursor: pointer;
    }
}

#checkin-dialog {
    fieldset {
        margin-top: 10px;

        label {
            position: relative;
            z-index: 1;
        }
    }

    footer {
        text-align: right;

        button {
            margin-left: 10px;

            &.checkin {
                background-color: @color-blue;
            }
        }
    }
}

.info {
    .header {
        margin-bottom: 10px;
        padding-bottom: 10px;

        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    .content {
        .button {
            display: block;

            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 20px;

            min-width: 230px;

            background-color: @color-blue;
        }
    }
}

.map {
    .origin, .divider, .destination {
        height: 100%;
        float: left;
    }

    @origin-width: 34%;

    .origin {
        width: @origin-width;
    }

    @divider-width: 50px;

    .divider {
        width: @divider-width;
        text-align: center;

        box-shadow: 2px 0px 0 rgba(0, 0, 0, 0.2), -2px 0 0 rgba(0, 0, 0, 0.2);
        position: relative;
        z-index: 1;

        a {
            width: 36px;
            height: 36px;
            margin-top: 10px;

            &.facebook {
                background-color: #417cb3;
            }
        }
    }

    .slider {
        position: absolute;
        width: @origin-width;
        height: 100%;
        display: none;
        float: left;
    }

    .news {
        background: url(../../images/news.png) no-repeat;
    }

    .offerings {
        background: url(../../images/offerings.png) no-repeat;
    }

    .destination {
        @destination-width: 100% - @origin-width;
        width: ~"calc(@{destination-width} - @{divider-width})";
    }
}

.ui-datepicker {
    margin-top: 40px;

    border: none;

    @theme-color: #a7babe;
    @highlight-color: #1abc9c;

    border-color: @theme-color;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0 20px;

    z-index: 9999 !important;

    .ui-datepicker-header {
        background: @theme-color;

        .ui-datepicker-prev,
        .ui-datepicker-next {
            margin: 8px;
        }
    }

    .ui-datepicker-calendar {
        border: none;

        .ui-state-default {
            border: 0;
            padding: 5px;
        }

        .ui-state-active,
        .ui-state-highlight {
            background-color: #2ecc71;

            color: #fff;
        }

        .ui-state-hover {
            background-color: @highlight-color !important;
            border-color: @highlight-color !important;
        }
    }
}
