.authors {
    a {
        display: block;

        margin: 0 5px;
        margin-bottom: 10px;

        white-space: nowrap;
        overflow: hidden;

        text-overflow: ellipsis;
        text-align: left;
    }
}

.video {
    h5 {
        margin-top: 20px;
    }
}

section {
    &.landing {
        button {
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;

            height: 49px;
        }

        input[type=email] {
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
        }
    }
}

.contact {
    margin-top: 30px;
}

nav {
    text-align: right;
}

h1 {
    margin-bottom: 20px;
}

h4 {
    small {
        display: block;

        text-align: right;

        font-size: 14px;

        &:before {
            content: "\2012";
        }
    }
}

body {
    @color: #5797d1;

    .bck {
        &.theme {
            background-color: @color;
        }
    }

    .form {
        .button {
            background-color: @color !important;
        }
    }

    .color {
        &.theme {
            color: @color !important;
        }
    }

    a:not(.button) {
        &:hover {
            color: @color !important;
        }
    }
}
